.footer{
    margin: 0 150px;
    font-size: 2.5rem !important;

}

.footer__icon{
    padding: 20px;
    font-size: larger !important;
    color: #a8b2d1 !important;
}

@media (max-width:600px){
    .footer{
        margin: 0;
    }
}