@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.projects{
    margin: 0px auto;
    padding: 0px 150px;
    width: 100%;
    /* height: 100vh; */
}

.projects__section{
    /* margin: 0px auto; */
    max-width: 1000px;
}

.projects__heading{
    margin-bottom: 25px;
}

.projects__heading h1 {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(1rem, 2vw, 3rem );
    color: #ccd6f6;
    line-height: 35px
}

.projects__heading h1::before{
    content: '2.';
    color: #64ffda;
}

.projects__one, .projects__two {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    -webkit-box-align: center;
    align-items: center;
    padding: 50px;
}
/* .projects__two{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    -webkit-box-align: center;
    align-items: right;
    padding: 50px;
} */

.projects__image, .projects__content {
    grid-row: 1 / 2;
}

.projects__image{
    box-shadow: 0 10px 30px -15px #0A192F;
    grid-column: 1 / 3;
    position: relative;
}

.projects__image img{
    max-width: 100%;
    opacity: 0.4;
}

.projects__image img:hover{
    opacity: 1;
}

.projects__content{
    position: relative;
    grid-column: 2 / -1;
    text-align: right;
    z-index: 1;
}

.projects__contentHeader {
    color: #64ffda;
    font-size: clamp(1rem, 2.6vw, 2.2rem );
    font-family: 'Space Mono', monospace;
    margin: 10px 0;
}

.projects__name {
    color: #ccd6f6;
    font-size: clamp(1rem, 2.7vw, 2.3rem );
    font-family: 'Poppins', sans-serif;
}

.projects__description {
    background-color: #112240;
    padding: 20px;
    margin: 30px 0;
    color: #a8b2d1;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: clamp(0.7rem, 1.7vw, 1.5rem );
}

.projects__skills {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.projects__skills li {
    padding: 0 20px;
    color: #ccd6f6;
    font-family: 'Share Tech Mono', monospace;
}

.projects__links a  {
    text-decoration: none !important;
    font-size: clamp(0.7rem, 1.7vw, 1.5rem ) ;
    color: #a8b2d1 !important;
    padding: 20px;
    margin: 20px;
    
}

@media (max-width:600px) {
    .projects{
        padding: 100px 50px;
        max-width: 100vw;
    }

    .projects__section{
        margin: 0;
    }

    .projects__content{
        text-align: left;
    }

    .projects__one, .projects__two{
        display: flex;
        margin: 0;
        padding: 50px 0;
        height: 100vh;
    }

    .projects__image {
        position:absolute;
    }
    .projects__description{
        background: none;
        padding: 0;
    }
}